.footer {
    padding-top: 50px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer img {
    width: 40px;
    height: 40px;

}

.footer p {
    font-size: 12px;
    color: #FFFFFFB3;
    letter-spacing: 0.5px;
}